body {
  margin: 0;
  background-color: aquamarine;
}
a {
  text-decoration: none;
  color: cornsilk;
  letter-spacing: 2px;
}
.navbar {
  background-color: brown;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-size: large;
  height: 50px;
  padding-top: 10px;
}
.not-found {
  margin: 10%;
  text-align: center;
  color: black;
}
.favourite {
  margin-left: 20px;
}
.dp {
  height: 150px;
  width: 80px;
}
.name {
  text-align: center;
  font-style: italic;
}
.card {
  margin: auto;
  border-bottom: 2px solid slateblue;
  width: 60%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.left-div {
  margin-left: 30%;
  border: 2px solid sienna;
}
.right-div {
  text-align: center;
}
.moreButton {
  cursor: pointer;
  background-color: chocolate;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100px;
  max-height: 30px;
  border: 2px solid yellow;
  border-radius: 6px;
}
.noreButton:active {
  background-color: white;
}
.favbtn {
  cursor: pointer;
  background-color: chocolate;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
  width: 100px;
  max-height: 30px;
  border: 2px solid yellow;
  border-radius: 6px;
}
.favbtn:active {
  background-color: white;
}
.bot-div {
  display: flex;
  flex-direction: row;
}
